:root {
  --s-color-discord: #5e6af3;
  --s-color-linkedin: #0863bc;
  --s-color-facebook: #1a6cff;
  --s-color-instagram: #d01b77;
  --s-color-snapchat: #fffb1e;
  --s-color-telegram: #34aceb;
  --s-color-tiktok: #000000;
  --s-color-twitch: #954dff;
  --s-color-whatsapp: #31d56b;
  --s-color-x: #000000;
  --s-color-youtube: #ff0232;
}
